# The for Loop

- How **for** loops work in many other languages (C style languages) :

In [ ]:
for (int i = 0; i < 5; i++) { ... }

In fact in those languages you can always rewrite a **for** loop as a **while** loop because it really means that it does certain things.

Rewrite the example of other languages (C style languages) , specifically in Python

NOTE : that's not what **for** statement is in Python !
- the only difference is that once this **for** loop has finished executing the "i" variable goes out of scope , it gets discounted (we can say : **i = None**)

In [90]:
i = 0
while i < 5:
    print(i)
    i += 1
    
i = None     # when you see momory and momory references , we don't actually need to do this . this will done automatically.

0
1
2
3
4

### Iterable
      In Python , an iterable is an object capable of returning values one at a time.

### for loop
    The for loop is something that allow us to iterate over an iterable. 
    so it will go and get the next value as it's running the loop.

- This **for** loop runs using code that looks like **while** loop as we can see above , but it's different.
- This is using an iterable object range 5 and when it runs it's loop it asks this object here for the next value and then it puts that value in "i" and then we have that value.

In [91]:
for i in range(5):
    print(i)

0
1
2
3
4

In [92]:
for i in [1,2,4,5]:
    print(i)

1
2
4
5

In [93]:
for c in "hello":
    print(c)

h
e
l
l
o

In [94]:
for x in ("a", "b" , "c" , 3 , 4 , 13):
    print(x)

a
b
c
3
4
13

In [96]:
for i , j in [(1 , 2) , (3 , 4) , (6 , 7)]:
    print (i, j)

1 2
3 4
6 7

**break** and **continue** statements work just the same as with the **while** loop:

In [99]:
for i in range(5):
    if i == 3:
        continue     # try the 'break' and see what happens
    print(i)

0
1
2

Also have the **else** clause:

In [102]:
for i in range(1, 8):
    print(i)
    if i % 7 == 0:
        print('multiple of 7 found')
        break
else:
    print("No multiple of 7 in the range")

1
2
3
4
5
6
7
multiple of 7 found

Using **try** **except** inside for loop , it works exactly the same way as with the where clause.
- the **finally** statement will execute out whether you put **break** or **continue** inside your **try** **except** statements

In [107]:
for i in range(5):
    print("-------------------------")
    try:
        10 / (i-3)
    except ZeroDivisionError:
        print('Error: Divided by 0 !')
        continue
    finally:
        print("always run")

    print(i)

-------------------------
always run
0
-------------------------
always run
1
-------------------------
always run
2
-------------------------
Error: Divided by 0 !
always run
-------------------------
always run
4

</hr>

#####  There are a standard number of techniques that you can use to iterate over iterables:
- 'sets' and 'dictionaries' are iterable , but they don't have an index. there is no concept of first and last elements because they're unordered
    - 'dictionaries' have key and values and keys are iterable and values can't be iterable  
- What you don't get here in this code below is the index. an iterable is indexable. for example : a *string* , a *list* , *tuple*

In [108]:
s = 'hello'

for c in s:
    print(c)   # what you don't get here is the index.

h
e
l
l
o

In [110]:
s = 'hello'
i = 0 
for c in s:
    print(i, c)
    i += 1

0 h
1 e
2 l
3 l
4 o

In [112]:
s = 'hello'

for i in range(len(s)):
    print(i , s[i])

0 h
1 e
2 l
3 l
4 o

In [113]:
s = 'hello'

for i , c in enumerate(s):
    print(i , c)                 # Recommended

0 h
1 e
2 l
3 l
4 o